// Variables
$color: #77000A;
$blackPrimary: #333;
$white: #fff;
$bar-color: #77000A;
$ball-color: #77000A;

* {
  min-height: 0;
  min-width: 0;
}
html {
  box-sizing: border-box;
}
*:after,
*:before {
  box-sizing: inherit;
}
body {
  font: 14px/1.5 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background: lighten($blackPrimary, 25%);
  &.no-overflow {
    overflow: hidden;
  }
}

html,
body,
#react-root,
.content-wrapper,
.index-wrapper,
.app-wrapper {
  height: 100%;
}

#react-root {
  position: relative;
  overflow: hidden;
}

.capitalize {
  text-transform: capitalize;
}
.break-word {
  word-break: break-word;
}

// Loaders
.loading-small {
  position: absolute;
  bottom: 1rem;
  right: 0;
}
.loader {
 width: 50px;
 height: 50px;
 border-radius: 50%;
 border: 6px solid transparent;
 border-top-color: $color;
 border-bottom-color: $color;
 -webkit-animation: loader 2.5s infinite ease-in-out;
 animation: loader 2.5s infinite ease-in-out;
 &.small {
  width: 20px;
  height: 20px;
  border-width: 3px;
 }
}

@-webkit-keyframes loader {
 0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
 }
 100% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
 }
}

@keyframes loader {
 0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
 }
 100% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
 }
}

// date pickers
.rdt .rdtPicker {
  border: 1px solid rgba(0,0,0, .15);
}
// Slick sliders
.index-slider.slick-slider {
  margin: 0;
  .slick-dots {
    display: block;
    bottom: 1rem;
    margin: 0;
    li {
      button {
        &:before {
          color: $white;
          opacity: .55;
        }
      }
      &.slick-active button:before {
        color: $color;
        opacity: .75;
      }
    }
  }
}
// auto suggestions
.react-autosuggest__suggestions-container {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-bottom: 1em;
  .react-autosuggest__section-title {
    padding: .5rem 1rem;
    border-bottom: 1px solid rgba(0,0,0, .1);
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: 2px;
  }
  .react-autosuggest__suggestions-list {
    list-style: none;
    padding: 0;
    margin: 0;
    .react-autosuggest__suggestion {
      padding: 1rem;
      border-bottom: 1px solid rgba(0,0,0, .1);
      cursor: pointer;
      background: $white;
      transition: background .3s ease;
      &:hover {
        background: lighten($color, 70%);
        color: rgba(0,0,0, .55);
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

// Layout
// buttons
.Button {
  transition: all .3s;
  text-transform: uppercase;
  &:hover {
    background: lighten($color, 10%) !important;
  }
}
.links {
  color: $blackPrimary;
  text-decoration: none;
}
.content-wrapper {
  perspective: 1500px;

  &.menu-open {
    .side-menu {
      visibility: visible;
      transform: translate3d(0, 0, 0);
      transition: transform 0.5s;
      &:after {
        width: 0;
        height: 0;
        opacity: 0;
        transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
      }
    }
    .app-wrapper {
      // transform: translate3d(0, 0, -300px);
      overflow: hidden;
      &:after {
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: opacity 0.5s;
      }
    }
  }
}
// Header
.main-header {
  background: transparent;
  box-shadow: none;
  transition: all .35s ease;
  padding: 1rem 0;
  &.header-bg {
    background: $white;
    padding: 0;
    box-shadow: 0 1px 4px rgba(0,0,0, .15);
    a {
      color: $blackPrimary;
    }
  }
  .inner-header {
    max-width: 1200px;
    margin: 0 auto;
  }
  a.NavItem {
    display: none !important;
    transition: color .3s;
    &:first-child, &:last-child {
      display: flex !important;
    }
    &:hover {
      color: $color !important;
    }
    .mobile-menu {
      font-size: 1.5em;
    }
  }
}
.side-menu {
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  width: 300px;
  height: 100vh;
  background: $white;
  transition: all 0.5s;
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
  box-shadow: 2px 0 6px rgba(0,0,0, .15);
  &:after {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
}
.app-wrapper {
  transform-style: preserve-3d;
  position: relative;
  left: 0;
  z-index: 99;
  perspective: 1000px;
  transition: transform 0.5s;
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 0;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    z-index: 11;
  }
  .inner-content {
    position: relative;
    height: 100%;
    overflow-y: auto;
    background: $white;
  }
}
// index
.index-wrapper {
  position: relative;
}
.index-parallax {
  margin:0;
  padding:0;
  // position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  .Heading, .Button {
    letter-spacing: 1px;
  }

  .Heading {
    color: $white;
    text-align: center;
  }

  .banner.slick-slide {
    background: 50% 50% / cover;
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0, .1);
      z-index: 0;
    }

    > h1, > div {
      z-index: 1;
    }
  }
}

// below the fold
.index-below-the-fold {
  position: relative;
  z-index: 1;
  background: $white;
  padding: 4rem 0;
}

#airportGreet,
#carOptions {
  background-size: cover;
  background-position: 50%;
  min-height: 250px;
}
#airportGreet {
  background-image: url('/img/airport_greet.jpg');
}

#carOptions {
  background-image: url('/img/car_option.jpg');
}

// Login page / Signup
.login-wrapper {
  height: 100%;
  .login-background-image {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url('img/banner1.jpg');
    background-size: cover;
    background-position: 50%;
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
  }
  &:after {
    position: fixed;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, .15);
    z-index: 0;
  }

  .login-inner {
    position: relative;
    text-align: center;
    z-index: 1;
    margin-top: 4rem;
    width: 80%;
    background: $white;
    border-radius: 2px;
  }
}

// Limo page
.limo-wrapper {
  background: $white;
  max-width: 1200px;
  margin: 0 auto;
  .limo-card {
    border: 1px solid rgba(0,0,0, .15);
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    &:hover {
      .limo-card-other {
        opacity: 1;
        z-index: 2;
      }
    }
    &.limo-booking-page {
      .limo-card-image {
        height: 300px;
      }
      .specs {
        left: 1rem;
        right: 0;
      }
    }
  }
  .limo-card-image {
    min-height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.55+0,0+30,0+70,0.55+100 */
      background: -moz-linear-gradient(top,  rgba(0,0,0,0.55) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 70%, rgba(0,0,0,0.55) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0.55) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 70%,rgba(0,0,0,0.55) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(0,0,0,0.55) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 70%,rgba(0,0,0,0.55) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c000000', endColorstr='#8c000000',GradientType=0 ); /* IE6-9 */
    }
  }
  .limo-card-other {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    background: rgba(255,255,255, .87);
    transition: opacity .35s ease;
    opacity: 0;
    z-index: 0;
    .booking-button-container {
      position: absolute;
      bottom: 1rem;
    }
  }
  .limo-card-title,
  .start-price,
  .specs {
    position: absolute;
    color: $white;
    z-index: 1;
  }
  .limo-card-title {
    left: 1rem;
    top: 1rem;
  }
  .start-price,
  .specs {
    bottom: 1rem;
    font-size: .8rem;
    letter-spacing: 1px;
  }
  .start-price {
    left: 1rem;
  }
  .specs {
    right: 1rem;
    > span:first-child {
      margin-right: .5rem;
    }
    b {
      margin-left: .5rem;
    }
  }
  // Booking form and confirmation
  .limo-booking-form,
  .limo-booking-confirmation {
    background: $white;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .limo-price {
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    margin-top: 1rem;
    background: $white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: relative;
    z-index: 1;
    &.fixed {
      position: fixed;
      top: 2rem;
      width: 90%;
    }
  }
  .confirmation-item {
    padding: 1rem;
  }
  .confirmation-label {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .8em;
    color: lighten($blackPrimary, 50%);
    margin-bottom: .5rem;
  }
  .suggestion-container {
    position: relative;
    .suggestion {
      position: absolute;
      top: 64px;
      left: 0;
      right: 0;
      z-index: 1;
      animation-duration: .5s;
      .suggestion-list {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          padding: 1em;
          background: $white;
          border: 1px solid rgba(0,0,0, .15);
          border-bottom-width: 0;
          display: block;
          cursor: pointer;
          transition: background .35s ease;
          &:hover {
            background: lighten($blackPrimary, 50%);
          }
          &:last-child {
            border-bottom-width: 1px;
          }
        }
      }
    }
  }
}

// Booking history
.booking-history-table {
  .Media {
    img {
      width: 128px;
    }
  }
}

// profile
.account-profile {
  background: $white;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.profile-table {
  .account-item {
    position: relative;
    &:hover {
      .inline-edit {
        opacity: 1;
      }
    }
  }
  .account-label {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .8em;
    color: lighten($blackPrimary, 50%);
    margin-bottom: .5rem;
  }
  .inline-edit {
    position: absolute;
    top: 0;
    right: 0;
    font-size: .8em;
    color: rgba(0,0,0, .55);
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity .35s ease;
  }
  .profile-password {
    border-top: 1px dashed rgba(0,0,0, .1);
    margin-top: 1rem;
    padding-top: 2rem;
  }
}

// booking history
.booking-item {
  background: $white;
  overflow: hidden;
  border-width: 0 1px 1px 1px;
  border-color: rgba(0,0,0, 0.15);
  border-style: solid;
  cursor: pointer;
  transition: all .35s ease;
  &:first-child {
    border-top-width: 1px;
  }
  > a {
    background: $white;
    position: relative;
    z-index: 2;
    &:hover {
      background: rgba(0,0,0, .1);
    }
  }
  &.selected {
    border-top-width: 1px;
    border-color: lighten($color, 5%);
    > a,
    .booking-details {
      background: darken($white, 5%);
    }
  }
  .booking-item-loader {
    position: absolute;
    right: 1em;
    top: 2.5em;
  }
}
.booking-item-details {
  position: relative;
  z-index: 1;
  background: $white;
  border-top: 1px dashed rgba(0,0,0, .15);
  img {
    max-width: 100%;
  }
}

// Tour
.tour-price,
.tour-pickup,
.pickup-location {
  display: block;
  margin-bottom: 1rem;
}

.tour-price {
  span {
    margin-right: 1em;
  }
}

.tour-pickup,
.pickup-location {
  b {
    margin-left: 1em;
  }
}

.card-link {
  text-decoration: none;
  color: $color;
  margin-left: 1rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="number"],
textarea {
  width: 100%;
  border: 0 !important;
  border-bottom: 1px solid rgba(0,0,0, .15) !important;
  border-radius: 0 !important;
  line-height: 2 !important;
  font-size: 1rem !important;
  padding: 1rem 0 !important;
  height: auto !important;
  outline: 0;
  transition: all .3s ease;
  box-sizing: border-box;
  &:focus {
    border-bottom-color: $color !important;
  }
}

textarea {
  resize: none;
}

@media (min-width: 41em) {
  // booking
  .limo-wrapper .limo-price.fixed {
    top: 3rem;
    left: 1rem;
    width: 47%;
  }
  // Booking history
  .booking-history-table {
    .Media {
      img {
        width: 50%;
      }
    }
  }
}
@media (min-width: 49em) {
  // Header
  .main-header {
    a.NavItem {
      display: flex !important;
    }
    .mobile-menu {
      display: none !important;
    }
  }
  // Login page
  .login-wrapper {
    .login-inner {
      width: 50%;
    }
    .limo-card {
      // width: 33.33%;
    }
  }
}
